@model QANotes.Models.EditNoteViewModel

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit note</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Notes", FormMethod.Post, null))
                {
                    <div>
                        @Html.LabelFor(modelItem => Model.Note.Description , new { @class = "control-label" })
                        <div>
                            @Html.TextAreaFor(modelItem => Model.Note.Description, new { @class = "form-control", rows = "5" })
                        </div>
                    </div>

                    <div>
                        @*@Html.LabelFor(model => Model.No, new { @class = "control-label" })*@
                        <div>
                            @*@Html.EditorFor(model => Model.NoteTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                        </div>
                        <div>
                            @Html.DropDownListFor(modelItem => Model.Note.NoteTypeId, Model.Types, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.HiddenFor(modelItem => Model.Note.Id)
                    @Html.HiddenFor(modelItem => Model.Note.UserId)

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
    
