@model QANotes.Models.NotesViewModel

@{
    ViewBag.Title = "My notes";
}

<h2>My notes</h2>

@using (Html.BeginForm())
{
    foreach (var item in Model.Notes)
    {
        <p>
            Note: @item.Id, @item.Description, @item.NoteTypeId, @item.UserId
        </p>
    }

    foreach (var item in Model.NoteTypes)
    {
        <p>
            Type: @item.Id, @item.Name, @item.Custom, @item.UserId
        </p>
    }
}
