@model QANotes.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="col-md-6 col-md-offset-3">
    <div class="well">
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <legend>Create a new account</legend>
                @* Email *@
                <div class="form-group">
                    @Html.LabelFor(model => Model.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Email)
                    </div>
                </div>

                @* Password *@
                <div class="form-group">
                    @Html.LabelFor(model => Model.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Password)
                    </div>
                </div>

                @* Repeat password *@
                <div class="form-group">
                    @Html.LabelFor(model => Model.RepeatPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => Model.RepeatPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.RepeatPassword)
                    </div>
                </div>

                @* Register button *@
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>